* {
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1000px;
    margin: 20px auto;
    /* background-color: blue; */
}

.header {
    text-align: center;
}

a {
    color: black;
}

.flex-container {
    background-color: #F5F5F5;
    margin: 10px auto;
    display: flex;
    padding: 10px;
    margin-bottom: 20px;
    /* width: 100%; */
    /* height: 100%; */
}

.child-1 {
    /* background-color: aqua; */
    /* width: 20%; */
    height: 100px;
    /* margin-right: 20px; */
    /* font-size: 10; */
    /* color: aqua; */
}

img {
    width: 100%;
    height: 100%;
}

.child-2 {
    /* background-color: bisque; */
    /* width: 80%; */
    height: 100px;
    display: grid;
    grid-template-columns: 1fr;
    /* row-gap: 5px; */
    /* padding: 5px; */
}

.paragraph {
    /* background-color: yellow; */
    width: 100%;
    height: 20px;
    margin: 0;
    font-size: 10px;
    line-height: 10px;
    
}

.read-more {
    /* background-color: brown; */
    width: 10%;
    height: 10px;
    margin-bottom: 20px;
    line-height: 12px;
    font-size: 11px;
    color: #0000FF;
}

.post-date {
    /* background-color: cadetblue; */
    width: 22%;
    height: 20px;
    line-height: 10px;
    font-size: 11px;
}

.post-by {
    /* background-color: coral; */
    width: 22%;
    height: 10px;
    line-height: 10px;
    font-size: 11px;
}

.view-icons {
    /* background-color: chartreuse; */
    width: 100%;
    height: 15px;
    display: flex;
    justify-content: space-between;
    /* padding: 5px 0; */
}

.view {
    /* background-color: rgb(100, 12, 31); */
    width: 20%;
    height: 10px;
    /* float: left; */
    line-height: 10px;
    font-size: 12px;
}

.icons {
    /* background-color: aliceblue; */
    width: 18%;
    height: 15px;
    clear: left;
    /* float: right; */
}